/* Подключение шрифта */
@font-face {
  font-family: 'Gilroy light';
  src: local('Gilroy Light'), local('Gilroy-Light'), url('./gilroy/Gilroylight.woff2') format('woff2'), url('./gilroy/Gilroylight.woff') format('woff'), url('./gilroy/Gilroylight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy Bold';
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('./gilroy/Gilroyextrabold.woff2') format('woff2'), url('./gilroy/Gilroyextrabold.woff') format('woff'), url('./gilroy/Gilroyextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy Medium';
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
      url('./gilroy/Gilroy-Medium.woff2') format('woff2'),
      url('./gilroy/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
/* ===================== */

:root {

  /* Colors: */
  --primary-color: #E64A31;
  
  /* Font/text values */
  --unnamed-font-family-gilroy: Gilroy;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-22: 22px;
  --unnamed-font-size-30: 30px;
  --unnamed-font-size-46: 46px;
  --unnamed-font-size-62: 62px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-19: 19px;
  --unnamed-line-spacing-28: 28px;
  --unnamed-line-spacing-38: 38px;
  --unnamed-line-spacing-57: 57px;
  --unnamed-line-spacing-77: 77px;
  }
  
  /* Character Styles */
  .h1-62pt {
  font-family: var(--unnamed-font-family-gilroy);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-62);
  line-height: var(--unnamed-line-spacing-77);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  }
  .h2-—-46pt {
  font-family: var(--unnamed-font-family-gilroy);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-46);
  line-height: var(--unnamed-line-spacing-57);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  }
  .h3-—-30pt {
  font-family: var(--unnamed-font-family-gilroy);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-30);
  line-height: var(--unnamed-line-spacing-38);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  }
  .h4-—-22pt {
  font-family: var(--unnamed-font-family-gilroy);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-22);
  line-height: var(--unnamed-line-spacing-28);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  }
  .body-—-16pt {
  font-family: var(--unnamed-font-family-gilroy);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-19);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  }

/* Общиее классы */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Gilroy normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#FFFFFF
}
a{
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 90%;
}
h1{
  margin: 0;
}
.pt-160 {
  padding-top: 160px;
}
.pt-20{
  padding-top: 20px;
}
.pt-35 {
  padding-top: 35px;
}
.pt-60{
  padding-top: 60px;
}
.pt-90{
  padding-top: 90px;
}
.pt-200{
  padding-top: 200px;
}
.pt-300{
  padding-top: 300px;
}
.pb-15{
  padding-bottom: 15px;
}
.pb-30{
  padding-bottom: 30px;
}
.pb-40{
  padding-bottom: 40px;
}
.pb-60{
  padding-bottom: 60px;
}
.pb-100{
  padding-bottom: 100px;
}
.pb-200{
  padding-bottom: 200px;
}
.pb-240{
  padding-bottom: 240px;
}
.text{
  font-family: 'Gilroy Medium';
}
.title-h3{
  font-family: 'Gilroy bold';
  font-size: 22px;
}
.title_h6{
  font-size: 16px;
}
.btn {
  color: #FFFFFF;
  position: relative;
  place-content: center;
  place-items: center;
  width: fit-content;
  border-radius:10px;
  letter-spacing: 0.05em;
  border: none;
  text-decoration: none;
  margin-right: 10px;
  padding: 1rem 2.5rem;
  white-space: nowrap;
  font-weight: 700;
  outline: none;
  transition: all 0.22s;
  font-family: 'Gilroy bold';
  font-size: 14px;
}
.btn.big{
  width: 90%;
  margin: 0 auto;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 1!important;
  background: #eee!important;
  border-color: #ddd!important;
  color: #999!important;
}

.btn:active {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.btn.primary{
  background-color: #E64A31;
}
.btn.secondary{
  background-color: transparent;
}
.secondary{
  background-color: transparent;
  border: none;
}

/* ============= */



/* Стилизация блока Header */
.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header{
  width: 100%;
  position: fixed;
  z-index: 20000;
}
.header__logo{
  text-align: left;
  font-family: 'Gilroy Bold';
  font-size: 29px;
  color: #FFFFFF;
  opacity: 1;
}
.menu__item {
  margin-left: 40px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Gilroy Bold';
  font-size: 14px;
}
.menu__item:first-child{
  margin-left: unset;
}
.menu__item:hover{
  color: #E64A31;
}
.menu__item_active{
  color: #E64A31;
}
/* ====================== */

/* Стилизация блока Description */
.description{
  background: url('../img/BG\ 1st\ page@2x.png');
  background-size: cover;
  opacity: 1;
}
.title{
  margin: 0;
  font-family: 'Gilroy Bold';
}
.title_h1{
  font-size: 62px;
}
.colored{
  color: #E64A31;
  text-decoration: none;
  font-size: inherit;
}

.description__text{
  text-align: left;
  max-width: 400px;
}
.buttons-block{
  display: flex;

}
.btn_with_img{
  display: flex;
  align-items: center;
}
.btn__span{
  margin-left: 10px;
}
.description_footer__list{
  max-width: 740px;
  display: flex;
  justify-content: space-between;
}
.description_footer__list li {
  list-style: none;
  font-family: 'Gilroy Bold';
  font-size: 14px;;
}
.description_footer__list li::before{
  font-size: 27px;
  content: "\2022";
  color: #718A44;
  font-weight: bold;
  display: inline-block;
  width: 16px;
  vertical-align: sub;
}
/* ====================== */

/* Стилизация блока Advantages */
.advantages{
  background-image: url(../img/BG\ 2st\ page.png);
  background-size: cover;

}
.title_h2{
  font-size: 46px;
}
.title_h4 {
  font-size: 30px;
}
.container_cards{
  display: flex;
  justify-content: space-between;
}
.card{
  max-width: 400px;
  background-color: #171818;
}
.card_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card_text{
  font-size: 16px;
  color: #BCBCBC;
}
/* ====================== */

/* Стилизация блока Promo */
.promo{
  background-image: url(../img/BG\ 3st\ page.png);
  background-size: cover;
}
.promo__container{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text_block{
  max-width: 400px;
}
/* ====================== */

/* Стилизация блока Functional Description */
.functional_description{
  background-color: black;
}
.functional_description__header{
  background-image: url(../img/Mask\ Group\ 5.png);
  background-size: cover;
}
.functional_description_main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.functional_description_h4{
  padding-left: 25px;
  padding-bottom: 25px;
}
.functional_description_main__list{
  list-style: none;
}
.wallhack_card{
  max-width: 600px;
  width: 50%;
  min-width: 540px;
  padding-bottom: 150px;
}
/* ====================== */

/* Стилизация блока Carusel */
.carusel_block{
  background-image: url(../img/BGScreens.png);
  background-size: cover;
}
.wrap{
  width: 80%;
  margin: 0 auto;
  padding-bottom: 300px;
}
.slider{
  width: 90%;
  margin: 0 auto;
  overflow: visible;
}
.img{
  margin: 0 auto;
  width: 300px;
  height: 300px;
  margin-left: 20px;
  background-size: cover;
  background-position: center;
}
.img:first-child{
  margin-left: unset;
}
.img:hover{
  cursor: pointer;
}
.case1{
  background-image: url(../img/carusel/case_9.png);
  background-size: cover;
  background-position: center;
}
.case2{
  background-image: url(../img/carusel/Mask\ Group\ 6.png);
  background-size: cover;
  background-position: center;
}
.slick-prev, .slick-next{
  width: 60px;
}
.slick-prev{
  left: -50px;
}
.slick-next{
  right: -50px;
}

.main_slide{
  width: 90%;
  height: 520px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.img_main{
  margin: 0 auto;
  width: 100%;
  height: 520px;
}
.arrow{
  font-size: 52px;
}
.main_slider_wrap{
  display: flex;
}
    /* Модалка */
    .popup-fade:before {
      content: '';
      background: #000;
      position: fixed; 
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%;
      opacity: 0.7;
      z-index: 9999;
    }
    .popup-fade{
      display: none;
    }
    .popup {
      position: fixed;
      top: 0%;
      left: 10%;
      width: 80%;
      height: 100%;
      z-index: 99999;
      opacity: 1;
    }
    .popup-close {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    /* ====== */
/* ======================= */
/* Стилизация блока Subscription */
.subscription_price{
  background-image: url(../img/BG\ 4st\ page.png);
  background-size: cover;
}
.subscription_price_header{
  display: flex;
  justify-content: space-between;
}
.subscription_price_header_text{
  max-width: 580px;
}
.oplata-info{
  background-color: #3E3E3E;
}
.subscription_price_main{
  display: flex;
  justify-content: space-between;
}
.subscription_price_main_card{
  max-width: 400px;
  background-color: #171818;
  padding: 28px 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_span{
  font-size: 16px;
}
.subscription_price_main_card span b{
  font-size: 22px;
}
.card_line{
  background-color: #E64A31;
  color: #E64A31;
  width: 21px;
  border: none;
  height: 2px;
}
.sub_card_list{
  list-style: none;
  
}
ion-icon{
  color: #BCBCBC;
}
/* ======================== */

/* Стилизация блока Subscription */
.footer_container{
  background-image: url(../img/SQysl2d7HNA@2x.png);
  background-size: cover;
}
.footer_container__text{
  max-width: 500px;
}
/* ======================== */

/* Стилизация страницы Confirm */
.confirm-payment{
  background-image: url(../img/l6gXRY96KoM.png);
  background-size: cover;
  height: 100vh;
}
.confirm-payment_text{
  max-width: 352px;
}
.confirm-payment_input{
  width: 352px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: black;
  font-family: 'Gilroy Medium';
}
.confirm-payment_input::placeholder {
  font-family: 'Gilroy Medium';
  color: #BCBCBC;
  font-size: 16px;
}
/* ======================== */
/* Стилизация для мобильного меню */
.menu-hamburger{
  display: none;
  height: 100%;
  width: 100%;
}
.toggle-button {
  top: 20px;
  right: 5%;
  position: fixed;
  width: 44px;
  height: 40px;
  padding: 4px;
  transition: .25s;
  z-index: 15;
}
.toggle-button:hover {
  cursor: pointer;
}
.toggle-button .menu-bar {
  position: absolute;
  border-radius: 2px;
  width: 80%;
  transition: .5s;
}
.toggle-button .menu-bar-top {
  border: 4px solid #FFFFFF;
  border-bottom: none;
  top: 0;
}
.toggle-button .menu-bar-middle {
  height: 4px;
  background-color: #FFFFFF;
  margin-top: 7px;
  margin-bottom: 7px;
  top: 4px;
}
.toggle-button .menu-bar-bottom {
  border: 4px solid #FFFFFF;
  border-top: none;
  top: 22px;
}
.button-open .menu-bar-top {
  transform: rotate(45deg) translate(8px, 8px);
  transition: .5s;
}
.button-open .menu-bar-middle {
  transform: translate(230px);
  transition: .1s ease-in;
  opacity: 0;
}
.button-open .menu-bar-bottom {
  transform: rotate(-45deg) translate(8px, -7px);
  transition: .5s;
}

.menu-wrap {
  background-color: #252527;
  position: fixed;
  padding-top: 5%;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  font-size: 1em;
  font-weight: 700;
  overflow: auto;
  transition: 1.25s;
  z-index: 10;
}
.menu-show {
  left: 0;
  box-shadow: 4px 2px 15px 1px #B9ADAD;
}
.menu-mobile{
  padding-top: 20%;
  list-style: none;
}
.menu-mobile li{
  padding-bottom: 30px;
  text-align: center;
}
.menu-mobile li a{
  text-decoration: none;
  font-family: Gilroy normal;
  font-size: 20px;
  color: #FFFFFF;
}
/* ======================== */

@media (max-width:992px) {

  .buttons-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
}
@media (max-width:768px) {
  .menu__item{
    margin-left: 10px;
  }
  .title{
    text-align: center;
  }
  .promo__container{
    flex-direction: column;
  }
  .subscription_price_main{
    flex-direction: column;
    align-items: center;
  }
  .description__text{
    max-width: 100%;
  }
  .buttons-block{
    padding-top: 20px;
    flex-direction: row;
  }
  .description_footer{
    padding-top: 80px;
  }
  .description_footer__list{
    flex-wrap: wrap;
  }
  .container_cards{
    flex-direction: column;
    align-items: center;
  }
  .promo__container{
    width: 90%;
  }
  .text_block{  
    max-width: unset;
  }
  .text_block button{
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .card{
    margin-bottom: 20px;
  }
  .wrap{
    width: unset;
    padding-bottom: 150px;
  }
  .main_slider_wrap{
    justify-content: center;
  }
  .buttons_block{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .subscription_price_main_card{
    margin-bottom: 20px;
  }
  .pt-160 {
    padding-top: 80px;
  }
  .pt-20{
    padding-top: 10px;
  }
  .pt-35 {
    padding-top: 20px;
  }
  .pt-60{
    padding-top: 30px;
  }
  .pt-90{
    padding-top: 45px;
  }
  .pt-200{
    padding-top: 100px;
  }
  .pt-300{
    padding-top: 150px;
  }
  .pb-15{
    padding-bottom: 8px;
  }
  .pb-30{
    padding-bottom: 15px;
  }
  .pb-40{
    padding-bottom: 20px;
  }
  .pb-60{
    padding-bottom: 30px;
  }
  .pb-100{
    padding-bottom: 50px;
  }
  .pb-200{
    padding-bottom: 100px;
  }
  .pb-240{
    padding-bottom: 120px;
  }
}
@media (max-width:576px) {
  .title_h1{
    font-size: 31px;
  }
  .title_h2{
    font-size: 23px;
  }
  .title-h3{
    font-size: 20px;
  }
  .title_h4{
    font-size: 20px;
  }
  .pt-160 {
    padding-top: 60px;
  }
  .pt-20{
    padding-top: 10px;
  }
  .pt-35 {
    padding-top: 20px;
  }
  .pt-60{
    padding-top: 30px;
  }
  .pt-90{
    padding-top: 25px;
  }
  .pt-200{
    padding-top: 50px;
  }
  .pt-300{
    padding-top: 150px;
  }
  .pb-15{
    padding-bottom: 8px;
  }
  .pb-30{
    padding-bottom: 15px;
  }
  .pb-40{
    padding-bottom: 20px;
  }
  .pb-60{
    padding-bottom: 30px;
  }
  .pb-100{
    padding-bottom: 20px;
  }
  .pb-200{
    padding-bottom: 50px;
  }
  .pb-240{
    padding-bottom: 60px;
  }
  .menu{
    display: none;
  }
  .menu-hamburger{
    display: block;
  }
  .header__logo{
    font-size: 20px;
  }
  .description__text{
    font-size: 14px;
    text-align: center;
  }
  .description_footer{
    text-align: center;
  }
  .description_footer__list{
    flex-direction: column;
  }
  .card_header{
    justify-content: flex-start;
  }
  .card_header h4{
    text-align: left;
  }
  .card_header img{
    display: none;
  }
  .card_text{
    font-size: 14px;
  }
  .text{
    font-size: 14px;
  }
  .video_block{
    width: 100%;
  }
  iframe{
    width: 100%;
    height: auto;
  }
  .wallhack_card{
    max-width: unset;
    width: unset;
    min-width: unset;
    padding-bottom: 50px;
  }
  .img{
    height: 150px;
  }
  .img_main{
    height: 300px;
  }
  .main_slide{
    height: 300px;
  }
  .wrap{
    padding-bottom: 75px;
  }
  .subscription_price_header{
    flex-direction: column;
    text-align: center;
  }
  .subscription_price_header_text{
    padding-bottom: 20px ;
  }
  .buttons_block {
    height: 20vh;
    justify-content: space-between;
  }
  .arrow{
    font-size: 30px;
  }
  .confirm-payment_input{
    width: 90%;
  }
  .confirm-payment .title_h6{
    text-align: left;
  }
}

.modal{
  width: 90%;
  height: 90%;
  position: absolute;
  
}